@charset "UTF-8";


@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




html * {
	font-family: 'D2Coding';
	
}




.main_btn {
	width : 300px;
}


.btn-primary{
	width : 300px;
}



body{
	background-color : #adeceb;
		display : flex;
	flex-direction : column;
	align-items : center;
	padding-top : 50px;

}



.board {

	border-radius : 15px;
    background-color: #fff;
	box-shadow : 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  	border: 3px solid black;
 	text-align: center;
}



.controls{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.colors{

display: flex;

}

.colors.colors{

width : 450px;
height: 50px;
box-shadow: 0 4px 6px rgba(50, 50, 93 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
border-radius: 25px;
cursor:pointer;

}



.controls.controls_btns{
	margin-bottom: 30px;
	box-shadow: 0 4px 6px rgba(50, 50, 93 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}


.controls_btns button{
	background-color: white;
	cursor:pointer;
	padding: 5px 0px;
	width: 80px;
	border-radius : 10px;
	box-shadow: 0 4px 6px rgba(50, 50, 93 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
	font-size :30px;
}


.controls_btns button:active{
	transform: scale(0.98);
}
